<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <title>PartyPlanner</title>
</head>

<body>

    <div class="flex h-screen w-full">
        <div class="flex-none w-14"></div>
        <div class="flex-initial w-2/3 px-2">
            <div class="flex border-4 border-blue-400 items-center justify-between py-2 px-6">
                <div>
                    <span class="text-lg font-bold text-gray-800">{{.CurrentMonth}}</span>
                    <span x-text="year" class="ml-1 text-lg text-gray-800 font-bold">2024</span>
                </div>
                <div>
                    <span class="text-lg font-bold text-gray-800">{{.CalendarName}}</span>
                </div>
                <div class="border rounded-lg px-1 flex items-center justify-center">
                    <button type="button" onclick="toggleEventPopup()"
                        class="rounded-lg transition cursor-pointer hover:bg-gray-200 flex p-1 items-center">
                        <p class="text-gray-900">Add Event</p>
                    </button>
                    <div class="border-r inline-flex h-6"></div>
                    <button type="button"
                        class="leading-none rounded-lg transition ease-in-out duration-100 inline-flex cursor-pointer hover:bg-gray-200 p-1 items-center">
                        <svg class="h-6 w-6 text-gray-500 inline-flex leading-none" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7">
                            </path>
                        </svg>
                    </button>
                    <div class="border-r inline-flex h-6"></div>
                    <button type="button"
                        class="leading-none rounded-lg transition ease-in-out duration-100 inline-flex items-center cursor-pointer hover:bg-gray-200 p-1">
                        <svg class="h-6 w-6 text-gray-500 inline-flex leading-none" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>

            <div id="calendar-container" class="border-4 border-blue-400 py-2 px-6">
                <div class="date-grid grid grid-cols-7 h-full w-full">
                    {{range .DayNames}}
                    <p class="day-name w-full h-full text-sm font-medium text-gray-800 text-center">{{.}}</p>
                    {{end}}

                </div>
                <div id="selectable-grid" class="grid grid-cols-7 h-full w-full">
                    {{range $index, $item := .Days}}

                    <div id="day-grid"
                        class="items-start justify-start w-full h-full pl-2 pr-32 pt-2.5 pb-24 border border-gray-200 hover:bg-blue-100">
                        {{ if (gt $item 0) }}
                        <p id="{{$.CurrentMonth}}-{{$item}}-{{$.Year}}" class="text-sm font-medium text-gray-800">
                            {{$item}}</p>
                        {{end}}
                    </div>

                    {{end}}
                </div>
            </div>

            <div id="event-modal" tabindex="-1"
                class="hidden overflow-y-auto overflow-x-hidden fixed justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-md max-h-full">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <!-- Modal header -->
                        <div
                            class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                Add an event
                            </h3>
                            <button type="button" onclick="toggleEventPopup()"
                                class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 md:p-5">
                            <iframe name="event-frame" id="event-frame" style="display:none;"></iframe>
                            <form id="event-form" class="space-y-4" action="/v1/event" method="post"
                                target="event-frame">
                                <div>
                                    <label for="event-name"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Event
                                        Name</label>
                                    <input type="text" name="event-name" id="event-name"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                        placeholder="Event Name" required />
                                </div>
                                <div>
                                    <label for="start-date"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Start
                                        Date</label>
                                    <input type="date" name="start-date" id="start-date" placeholder="Start Date"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                        required />
                                </div>
                                <div>
                                    <label for="end-date"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">End
                                        Date</label>
                                    <input type="date" name="end-date" id="end-date" placeholder="End Date"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                        required />
                                </div>
                                <div>
                                    <label for="event-description"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Event
                                        Description</label>
                                    <textarea name="event-description" id="event-description"
                                        placeholder="Type a description" rows="5" cols="33"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"></textarea>
                                </div>
                                <button type="submit"
                                    class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save
                                    Event</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col space-y-4 w-1/3 relative bg-white shadow-xl rounded-lg overflow-hidden">
            <div id="chatbox-members" class="hidden absolute inset-x-0 top-0 min-h-16 bg-blue-200 p-4">
                <p></p>
            </div>
            <div id="chatbox-container" class="overflow-y-auto">
                <ul id="chatbox-messages" class="space-y-4 pb-24 height-4/5">

                </ul>
                <div class="absolute inset-x-0 bottom-0 bg-blue-200 p-4 height-1/5">
                    <form id="chatbox-form">
                        <label for="chatbox" class="sr-only">Your message</label>
                        <div class="flex items-center py-2 px-3 bg-gray-50 rounded-lg dark:bg-gray-700">
                            <input id="chatbox" name="message"
                                class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300"
                                placeholder="Your message..."></textarea>
                            <button type="submit" value="Send message"
                                class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
                                <svg class="w-6 h-6 rotate-90" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    </div>

    <script>
        function sendMessage() {
            console.log("Inside send message");
            var message = document.getElementById("chatbox");
            if (message != null) {
                chatConnection.send(message.value);
            }
            message.value = "";
            return false;
        }

        function toggleEventPopup() {
            if (document.getElementById("event-modal").style.display === "flex") {
                document.getElementById("event-modal").style.display = "none";
                return;
            }

            document.getElementById("event-modal").style.display = "flex";
            const endDate = Math.max(...daysSelected);
            const startDate = Math.min(...daysSelected);

            document.getElementById("start-date").valueAsDate = new Date(`{{.CurrentMonth}} ${startDate} {{.Year}}`);
            document.getElementById("end-date").valueAsDate = new Date(`{{.CurrentMonth}} ${endDate} {{.Year}}`);
        }

        function saveEvent() {
            const form = document.getElementById("event-form");
            const data = new FormData(form);

            console.log(data.getAll)
        }
        const chatConnection = new WebSocket("ws://" + document.location.host + "/wschat");
        chatConnection.onmessage = function (event) {
            const chatbox = document.getElementById("chatbox-messages");
            const messageDiv = document.createElement("div");
            messageDiv.style.paddingLeft = "25%";
            messageDiv.innerHTML = event.data;
            chatbox.appendChild(messageDiv);
        }

        const eventConnection = new WebSocket("ws://" + document.location.host + "/wsevent");
        eventConnection.onmessage = function (event) {
            console.log("Inside events socket message received");

        }
        let daysSelected = [];
        window.onload = function () {
            document.getElementById("chatbox-form").onsubmit = sendMessage;
            document.getElementById("selectable-grid").addEventListener('click', function (e) {
                if (e.target && e.target.id.startsWith("day-grid")) {
                    const day = e.target;
                    const dayNum = parseInt(day.innerText);

                    if (daysSelected.includes(dayNum)) {
                        daysSelected = daysSelected.filter(d => d != dayNum);
                        day.classList.remove("bg-blue-300");
                    } else {
                        daysSelected.push(dayNum);
                        day.classList.add("bg-blue-300");
                    }
                }
            });

        }
    </script>
</body>